<ion-app>
    <ion-menu side="start" [menuId]="menuId" contentId="main-content">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <ion-list (click)="closeMenu()">
                <ion-item routerLink="/uebersicht" routerDirection="forward">
                    Übersicht
                </ion-item>

                <ion-item routerLink="/aktuelles-fach" routerDirection="forward" [disabled]="true">
                    Aktuelles Fach
                </ion-item>

                <ion-item routerLink="/meine-faecher" routerDirection="forward">
                    Meine Fächer
                </ion-item>

                <ion-item routerLink="/stundenplan" routerDirection="forward" [disabled]="true">
                    Stundenplan
                </ion-item>

                <ion-item routerLink="/termine" routerDirection="forward" [disabled]="true">
                    Termine
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>

    <!--  <div class="smartphone-mockup">-->
    <ion-router-outlet class="inner-router" id="main-content">
    </ion-router-outlet>
    <!--    <div class="toolbar-unten">-->
    <!--      <div class="inner-toolbar-unten">-->
    <!--        <ion-icon name="arrow-back-outline" (click)="goBack()"></ion-icon>-->
    <!--        <ion-icon name="home-outline" (click)="goHome()"></ion-icon>-->
    <!--        <ion-icon name="stop-outline"></ion-icon>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
</ion-app>
